{% extends "::error_base.html.twig" %}
{% block body %}
    <section class="error-content clearfix">
        <h1>404 Not found <span>:(</span></h1>

        <p>Sorry, but the page you were trying to view does not exist.</p>
    </section>
{% endblock %}
