{% extends "::error_base.html.twig" %}
{% block body %}
    <section class="error-content clearfix">
        <h1>Resource Removed</h1>
        <p>{{ exception.message }}</p>
    </section>
{% endblock %}
