{% extends "::error_base.html.twig" %}
{% block body %}
    <section class="error-content clearfix">
        <h1>Access Denied</h1>

        <p>The server returned a "{{ status_code }} {{ status_text }}".</p>
    </section>
{% endblock %}
