{% extends "::base.html.twig" %}

{% block title %}Call for Speakers | {{ parent() }}{% endblock %}

{% block body %}
    <section class="speaker-submission interior-content clearfix">
        <h1 class="pagetitle cutout">Call for speakers</h1>

        <div id="wufoo-q1l5kl760hcaws0">
            Submit your session <a href="https://harmssite.wufoo.com/forms/q1l5kl760hcaws0">here</a>.
        </div>

        <script type="text/javascript">var q1l5kl760hcaws0;(function(d, t) {
                var s = d.createElement(t), options = {
                    'userName':'harmssite',
                    'formHash':'q1l5kl760hcaws0',
                    'autoResize':true,
                    'height':'824',
                    'async':true,
                    'host':'wufoo.com',
                    'header':'show',
                    'ssl':true};
                s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
                s.onload = s.onreadystatechange = function() {
                    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                    try { q1l5kl760hcaws0 = new WufooForm();q1l5kl760hcaws0.initialize(options);q1l5kl760hcaws0.display(); } catch (e) {}};
                var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
            })(document, 'script');</script>

    </section>
{% endblock %}
