{% extends "::base.html.twig" %}

{% block title %}Call for Speakers | {{ parent() }}{% endblock %}
{% block og_title %}Call for Speakers{% endblock %}

{% block body %}
    <section class="speaker-submission interior-content clearfix">
        <h1 class="pagetitle cutout">Call for speakers</h1>

        <div style="text-align: left">
            <p>Here's a few things you'll probably want to know:</p>

            <ul>
                <li>We're in Sioux Falls, SD, at Southeast Technical Institute.
                <li>Sessions can be 30 or 60 minutes in length. We'll do what we need to for the schedule to work with both. Experimenting with 30 minute sessions for those who don't think they'd fill 60 easily.
                <li>Call for speakers will close on October 24th, but we'd REALLY appreciate it if you got your submissions in early.
                <li>Any topic related to technology work is open. Especially in open spaces. Soft skills topics are definitely acceptable.
            </ul>
        </div>
        <hr>
        <div id="wufoo-q1l5kl760hcaws0">
            Submit your session <a href="https://harmssite.wufoo.com/forms/q1l5kl760hcaws0">here</a>.
        </div>

        <script type="text/javascript">var q1l5kl760hcaws0;(function(d, t) {
                var s = d.createElement(t), options = {
                    'userName':'harmssite',
                    'formHash':'q1l5kl760hcaws0',
                    'autoResize':true,
                    'height':'824',
                    'async':true,
                    'host':'wufoo.com',
                    'header':'show',
                    'ssl':true};
                s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
                s.onload = s.onreadystatechange = function() {
                    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                    try { q1l5kl760hcaws0 = new WufooForm();q1l5kl760hcaws0.initialize(options);q1l5kl760hcaws0.display(); } catch (e) {}};
                var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
            })(document, 'script');</script>

    </section>
{% endblock %}
