/web/bundles/
/app/bootstrap.php.cache
/app/config/parameters.yml
/phpunit.xml
/build/
/vendor/
/composer.phar

/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php

/web/js/*
!web/js/.gitkeep
/web/css/*
!web/css/.gitkeep

# managed by composer
app/SymfonyRequirements.php
/app/Resources/node_modules
/node_modules
