{% extends 'base.html.twig' %}

{% block title %}Family Sessions | {{ parent() }}{% endblock %}
{% block og_title %}Family Sessions{% endblock %}

{% block meta_description %}New for 2018 Code Camp will be our Family Track, open to ages 5 and up, with two different options tailored to suit any code skills.{% endblock %}

{% block body %}
    <section class="page-content clearfix">
        <h1 class="pagetitle cutout">Family Sessions</h1>
        <h6 class="subtitle">Note: All children must be accompanied by a parent or guardian.</h6>
        <p>New for 2018 Code Camp will be our Family Track, open to ages 5 and up, with two different options tailored
            to suit any code skills.</p>

        <h2>Beginners</h2>
        <p>The beginners track, for those new to robots or computers, uses a small robot that will teach kids the
            foundation of programming by simply drawing lines and color segments. From novices to experts, kids will be
            able to explore the concept of creating something, a line, and watching the machine process it, the
            computer. Once the simple concept is down, kids can explore their more creative sides by making the robot
            perform even more advanced tasks, such as mazes or pushing blocks around.</p>
        <p><a href="http://ozobot.com" target="_blank">More about ozobots</a></p>

        <h2>Intermediates</h2>
        <p>The intermediate track, tailored to those who’ve used computers before, will use a spherical robot that is
            programmed via a connected device to move and light up. Kids will use a block language to drag commands and
            instructions to the robot and see them carried out when they run the commands. With speeds up to 3 mph, kids
            will be able to race the robot around while avoiding obstacles on a pre-built race track or attempting
            complex tricks.</p>
        <p><a href="https://www.sphero.com/sphero" target="_blank">More about Sphero</a></p>

        <h2>Schedule</h2>
        <p>Both tracks will run concurrently. Adults and children alike can spend as much time with each track, trying
            both tracks to earn extra rewards (for the kids).</p>

    </section>
{% endblock %}
