{% extends 'base.html.twig' %}

{% block body %}
    <main role="main">
        <section class="hero">
            <div class="line1">
                We've got...
            </div>
            <div class="line2">
                ...Top Notch Speakers
            </div>
            <div class="line3">
                <a href="{{ path('speaker_index') }}" class="button">See the Lineup</a>
            </div>
        </section>
        <section class="main-content">
            <h2 class="cutout">What is Code Camp?</h2>
            <h4 class="cutout">
                Sioux Falls, SD
            </h4>
            <p>
                This is an event hosted by the Sioux Falls Developers Group and South Dakota .Net
                User Group with the sponsorship and support from many area businesses. Most of you
                visiting may be wonder "Whats a code camp?"
                <a href="{{ path('page_information') }}">Here is the basic idea</a>.
            </p>
        </section>
    </main>
    <section class="updates" role="complimentary">
        <article class="tweet">
            <img src="https://si0.twimg.com/profile_images/378800000509092758/5ac5436e8d8ca483cdd8ceb68486031e_bigger.png" alt="twitter.com/sdcodecamp" />
            <a href="http://www.twitter.com/sdcodecamp" class="twitter-name">South Dakota Code Camp</a>
            <a href="http://www.twitter.com/sdcodecamp" class="twitter-handle">@sdcodecamp</a>
            <div class="tweet-content">
                Schedule is up <a href="http://southdakotacodecamp.net/schedule">http://southdakotacodecamp.net/schedule</a>
            </div>
        </article>
        <article class="tweet">
            <img src="https://si0.twimg.com/profile_images/378800000509092758/5ac5436e8d8ca483cdd8ceb68486031e_bigger.png" alt="twitter.com/sdcodecamp" />
            <a href="http://www.twitter.com/sdcodecamp" class="twitter-name">South Dakota Code Camp</a>
            <a href="http://www.twitter.com/sdcodecamp" class="twitter-handle">@sdcodecamp</a>
            <div class="tweet-content">
                Next SD Code Camp is Nov 9th!  Speakers can email submissions to sdcodecamp at gmail
            </div>
        </article>
    </section>
{% endblock %}

{% block body_extra %}
    {% spaceless %}
        class="home"
    {% endspaceless %}
{% endblock %}
