{% extends 'base.html.twig' %}

{% block body %}
    <section class="page-content clearfix">
        <h1>Information</h1>

        <a href="http://blogs.msdn.com/b/trobbins/archive/2004/12/12/280181.aspx" target="_blank">The Code Camp Manifesto</a>
    </section>
{% endblock %}
