{% extends 'base.html.twig' %}

{% block body %}
    <section class="page-content clearfix">
        <h1>The Code Camp Manifesto</h1>

<p><strong>The question is what makes a Code Camp?</strong></p>

<p>The answer is actually simple. In order to use the official Code Camp name and banner follow these simple protocols.</p>

    <ol>
        <li><strong>By and For the Developer Community</strong><br>
Code Camps are about the developer community at large. They are meant to be a place for developers to come and learn from their peers. Topics are always based on community interest and never determined by anyone other than the community.

        <li><strong>Always Free</strong><br>
Code Camps are always free for attendees.

        <li><strong>Community Developed Material</strong><br>
The success of the Code Camps is that they are based on community content. All content that is delivered is original. All presentation content must be provided completely (including code) without any restriction. If you have content you don’t want to share or provide to attendees then the Code Camp is not the place for you.

        <li><strong>No Fluff – only Code</strong><br>
Code Camps are about showing the code. Refer to rule #1 if you have any questions on this.

        <li><strong>Community Ownership</strong><br>
The most important element of the Code Camp is always the developer community. All are welcome to attend and speak and do so without expectation of payment or any other compensation other than their participation in the community.

        <li><strong>Never occur during work hours</strong><br>
We need to understand that many times people can’t leave work for a day or two to attend training or even seminars. The beauty of the Code Camp is that they always occur on weekends.
    </ol>

- <a href="http://blogs.msdn.com/b/trobbins/archive/2004/12/12/280181.aspx" target="_blank">Excerpt from Thom Robbins .NET Weblog</a>
    </section>
{% endblock %}
