{% extends 'base.html.twig' %}

{% block title %}Open Spaces |
    {{ parent() }}{% endblock %}
{% block og_title %}Open Spaces{% endblock %}

{% block meta_description -%}
    With Open Spaces, the emphasis is on discussion, instead of listening to eyes-forward presentations.
{%- endblock %}

{% block body %}
    <section class="page-content clearfix">
        <h1 class="pagetitle cutout">Open Spaces</h1>
        <p>Also called Unconferences, OpenSpace is a simple methodology for self-organizing conference tracks. It relies on participation by people who have a passion for the topics to be discussed. There is no preplanned list of topics, only time slots and
            a space in the main meeting room where interested participants propose topics and pick time slots.</p>
        <h3>How an OpenSpace Works</h3>
        <p>OpenSpace <em>is</em> a small set of rules that allow groups of people to interact in a simple, productive, organized way to create valuable dialogs that address the participants' most important issues.</p>
        <ul>
            <li>Whoever shows up is the right group</li>
            <li>Whatever happens is the only thing that could have</li>
            <li>Whenever it starts is the right time</li>
            <li>When it's over, it's over.</li>
        </ul>
        <h3>To lead an OpenSpace Talk:</h3>
        <ul>
            <li>Come up with an interesting topic and title for your discussion.</li>
            <li>You don't need to develop these before the conference; most of the ideas will come to you during the event.</li>
            <li>Fill out a schedule Post-It for your topic.</li>
            <li>Place the topic on the schedule.</li>
            <li>If you see topics that have something in common, consider combining them into a single time slot.</li>
            <li>If a significant number of people want to attend your discussion and another discussion in the same time slot, try to trade into another time slot to ensure maximum dialog and participation.</li>
        </ul>

        <h3>To attend an OpenSpace Talk:</h3>
        <ul>
            <li>Check the schedule and sign up for a talk or just drop in if you wish.</li>
            <li>Use the 'Law of two feet.' If you feel that you are not contributing or benefiting from a presentation, please feel free to move on to something else.</li>
            <li>Allow the discussion convener to steer his or her topic. If you have an opposing opinion that needs a full time slot you should feel free to add your own OpenSpace slot to discuss the topic.</li>
        </ul>
    </section>
{% endblock %}
