{% extends 'base.html.twig' %}

{% block body %}
    <section class="page-content clearfix">
        <h1>Venue</h1>

        <p>
            The next South Dakota Code Camp will be happening on November 7, 2015 at Southeast
            Technical Institute in Sioux Falls, SD.
        </p>

        <a class="hidden-tablet hidden-desktop"  href="https://goo.gl/maps/jcBn3">Southeast Technical Institute Directions</a>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2890.832510690598!2d-96.782078!3d43.568373!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x878ecae634ad99cd%3A0xa18190fa3b018e4d!2sSoutheast+Technical+Institute!5e0!3m2!1sen!2sus!4v1430592453819"
                class="hidden-phone"
                width="600"
                height="450"
                frameborder="0"
                style="border:0">
        </iframe>
    </section>
{% endblock %}
