{% extends 'base.html.twig' %}
{% block title %}Venue | {{ parent() }}{% endblock %}
{% block meta_description %}The next South Dakota Code Camp will be happening on November 7, 2015 at Southeast Technical Institute in Sioux Falls, SD.{% endblock %}
{% block body %}
    <section class="page-content clearfix">
        <h1>Venue</h1>

        <p>
            The next South Dakota Code Camp will be happening on November 7, 2015 at Southeast
            Technical Institute in the Sullivan Health Science Center.
        </p>

        <a class="hidden-tablet hidden-desktop"  href="https://goo.gl/maps/jcBn3">Southeast Technical Institute Directions</a>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2890.788266161299!2d-96.78251768439647!3d43.56929486587016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDPCsDM0JzA5LjQiTiA5NsKwNDYnNDkuMiJX!5e0!3m2!1sen!2sus!4v1446584833606" width="600" height="450" frameborder="0" style="border:0"                
		class="hidden-phone"
                width="600"
                height="450"
                frameborder="0"
                style="border:0">
        </iframe>
    </section>
{% endblock %}
