{% extends 'base.html.twig' %}
{% block title %}Venue | {{ parent() }}{% endblock %}
{% block meta_description %}The next South Dakota Code Camp will be happening on November 7, 2015 at Southeast Technical Institute in Sioux Falls, SD.{% endblock %}
{% block body %}
    <section class="page-content clearfix">
        <h1>Venue</h1>

        <p>
            The next South Dakota Code Camp will be happening on November 7, 2015 at Southeast
            Technical Institute in the Sullivan Health Science Center. <a href="https://goo.gl/maps/anemCHNvdkv">Click here for directions.</a>
        </p>

        <div class="campus-map">
            <a href="https://goo.gl/maps/anemCHNvdkv">
                <img src="http://www.southeasttech.edu/media/sti360webcmscom/photos/Buildings/16-CampusMap-695px.png" style="max-width:100%;" />
            </a>
        </div>
    </section>
{% endblock %}
