# This file is a "template" of what your parameters.yml file should look like
parameters:
    database.driver:   pdo_mysql
    database.host:     127.0.0.1
    database.port:     ~
    database.name:     symfony
    database.user:     root
    database.password: ~
    mailer.transport:  smtp
    mailer.host:       127.0.0.1
    mailer.user:       ~
    mailer.password:   ~

    locale:            en

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    mapbox_project_id: ~
    mapbox_access_token: ~
    monolog_action_level: debug
