// Place all the styles related to the Sponsors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Uncomment any media queries you might need
// @media only screen and (min-width: 30em) {
// }

// @media only screen and (min-width: 48em) {
// }

// @media only screen and (min-width: 64em) {
// }