// ---- ---- ---- ---- VARIABLES ---- ---- ---- ----

// Site Colors
$sdccBlue: rgb(124, 147, 202); //#7c93ca
$sdccGrey: rgb(85, 85, 85); //#555555
$sdccLightGrey: lighten($sdccGrey, 20%);
$sdccLighterGrey: rgb(238, 238, 238); //#eeeeee
$sdccLightGreen: rgb(116, 221, 195); //#74ddc3

// Greys
$black: rgb(0,0,0); //#000000
$darkerGrey: lighten($black, 10%);
$darkGrey: lighten($black, 25%); //#404040
$midGrey: lighten($black, 50%); //#808080
$lightGrey: lighten($black, 75%); //#bfbfbf
$lighterGrey: lighten($black, 90%); //#e6e6e6
$white: rgb(255,255,255); //#ffffff

// Root
$bodyColor: $white;
$textColor: $sdccGrey;
$columnMargin: .5em;
$gutter: 1em;
$warningColor: red;

// Typography
$baseFont: 'Roboto Condensed', sans-serif;
$baseFontSize: 100%;
$baselineHeight: 1.2;
$headingFont: $baseFont;
$headingLineHeight: 1.35;
$headingFontWeight: bold;
$headingColor: $sdccGrey;
$headingTextShadow: $sdccLightGrey 1px 1px;
$codeFont: Monaco, Courier New, monospace;

// Links
$linkColor: $sdccBlue; //#8B95B3
$linkHover: darken($linkColor,5%);
$linkVisited: darken($linkColor,10%);
$linkFocus: darken($linkColor,15%);

// Forms
$textboxBackground: $sdccLighterGrey;
$textboxBorderColor: $sdccLighterGrey;
$textboxBorderColorActive: $sdccBlue;
$textboxBorderWidth: 1px;
$textboxBorderStyle: solid;
$textboxColor: $sdccLightGrey;
$textboxPlaceholderColor: $sdccLightGrey;
$textboxPadding: $gutter;

$buttonBackground: $sdccBlue;
$buttonBorderColor: darken($buttonBackground,10%);
$buttonBorderWidth: 1px;
$buttonBorderStyle: solid;
$buttonColor: $white;
$buttonPadding: .25em .75em;

// Tables
$tableBackground: transparent;
$tableStripe: $sdccLighterGrey;
$tableFontSize: .875em;
$tableLineHeight: 1.4em;
$tableBorderWidth: 1px;
$tableBorderStyle: solid;
//$tableBorderColor: $sqLightGrey;
//$tableHover: transparent;