<header class="main">
    <a href="{{ path('homepage') }}">
        <h2 class="title">South Dakota Code Camp<span class="date"> - {{ event_date }}</span></h2>
    </a>
    <a class="open-close-menu-switch" onclick="sdcc.toggleMenu();"></a>
    {# navigation goes here #}
    {{ knp_menu_render('main', {'currentClass': 'active'}) }}
</header>
