<footer class="main">
    <a href="https://twitter.com/sdcodecamp" class="twitter-follow-button" data-show-count="false" data-lang="en" data-align="right">Follow @sdcodecamp</a>
    <a class="g-plus-link" href="https://plus.google.com/117784575670240245598" rel="publisher">Google+</a>
    <a href="{{ path('homepage') }}">
        <div class="title">
            South Dakota Code Camp
        </div>
    </a>
</footer>
